h1 {
    padding-left: 500px;
    padding-right: 500px;
    background-color: red;
    border: black solid medium;
}
p {
   background-color: deepskyblue;
}

a {
   text-decoration-color: red;
   text-decoration-style: solid;
}
input {
    background-color: gold;
}

label{
    text-decoration-color: silver;
    background-color: darkred;
}

textarea{
    background-color: yellow;
}